/*REUSABLE VARIABLES*/
:root{
    --color-whitee: #F5F1E8;
    --color-black: #333333;
    --color-green: #74867A;
    --color-green-dark: #4F5952;
    --color-grey: #5B5F61;
    --color-beige-light: #E6D4C8;
    --color-beige-dark: #C5AD99;
    
    --color-yelow: #F9D18A;
    --color-orange: #BC8271;


    --color-white: #FFFFFF;

    --font-body: 'Noto Serif', serif;
    --font-tile: 'quicksand', sans-serif;

}


.font-white{
    color: var(--color-white);
}

/* FLEXBOX */
.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-flow: column;
}
.flex-row{
    display: flex;
    flex-flow: row;
}
.flex-right{
    justify-content: flex-end;
}



.m-top{
    margin-top: 5rem;
}

/* BUTTONS */
.button-1{
    padding: .8rem 1.3rem;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 30px;
    border: 0px;
}
.button-cart{
    padding: .8rem 1rem 1rem 1rem;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 30px;
    border: 0px;
   
}
.button-info{
    background-color: var(--color-beige-dark);
    padding-left: 4rem;
    padding-right: 4rem;
}

.button-add{
    background-color: #74867A;
    
}

.label{
    color: var(--color-green-dark);
}

.none{
    display: none;
}


h5, h6, h1{
    font-family: var(--font-title);
}
p{
    font-family: var(--font-body);
}
button{
    font-family: var(--font-body);
}

