*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

span{
    color: #ff0000;
    font-weight: 700;
}

/*#333333*/

nav{
    background-color: #333;
}

nav img{
    width: 7rem;
    height: auto;
}

ul{
    list-style-type: none;
}

ul li {
    text-decoration: none;
}

ul li a i{
    color: #fff;
    font-size: 1.5rem;
}

ul li a i:hover{
    color: #e50101;
    font-size: 1.5rem;
}

.background-image{
    background-image: url("assets/img_1.png");
    background-size: cover;
    background-position: top, right;
    height: 20rem;
    width: auto;
}

.text-type h2{
    background-color: rgba(37, 37, 37, 0.68);
    color: #fff;
}

.text-type p{
    background-color: rgba(37, 37, 37, 0.68);
    width: fit-content;
    color: #fff;
}

.fiets{
    height: 12rem;
    width: auto;
}
.zwaard h2{
    background-color: #212529;
    background-size: 100% 100%;
    color: #fff;
}
.zwaard li{
    list-style-type: circle;
}