*{
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-flow: column;
}
.flex-row{
    display: flex;
    flex-flow: row;
}
.flex-right{
    justify-content: flex-end;
}


.button-1{
    padding: 4px 8px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 30px;
}




h1{
    color: var(--color-black);
}