.container {
    margin-top: 5rem;
    color: rgb(252, 255, 252);
}

span {
    color: rgb(255, 255, 255);
}

.card{
    border: none;
    margin: .3rem .5rem;
    border-radius: 2rem;

}

.card-img-top, .card-img, .card-img-bottom{
    border-radius: 2rem;
}


.product{
    margin-top: 2rem;
}
.cart-icon{
    position: fixed;
    width: 5rem;
    z-index: 20;
    bottom: 1rem;
    right: 1rem;
    
}

.cart-count{
    position: fixed;
    z-index: 21;
    bottom: 2.9rem;
    right: 2.2rem;
    text-decoration: none;
}


.button-container{
    margin-top: 4rem;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    width: 100%;
}
.price-tag{
    padding: .8rem 1.3rem;
    border: solid .1rem var(--color-beige-dark);
    border-radius: 30px;
    margin: 0;
}
.card-text{
    min-height: 3rem;
    
}

.shop-container{
    margin-bottom: 4rem;
}

h5, h6, h1{
    font-family: var(--font-title);
}
p{
    font-family: var(--font-body);
}
button{
    font-family: var(--font-body);
}
.new-img1{
    mask-image: url(../assets/img/beginners.jpg);
}



@media screen and (max-width: 900px){
    .product{
        display: unset;
    }
    .button-container{
        margin-top: 2rem;
    }
    .card{
        margin-bottom: 2rem;
    }
    .prod-page{
        width: 50%;
    }
   
}



.prod-page{
    background-color: var(--color-beige-dark);

}

.card-content{
    height: 7rem;
}