*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

h1{
    font-family: quicksand, sans-serif;
    font-weight: bolder;
    font-size: 80px;
}



.nav-edit{
    margin-top: -1rem;
}
.logo-small{
    width: 5rem;
    height: 5rem;
    margin-left: .3rem;
    margin-right: .3rem;
}


.nav-round{
    border-radius: 5rem;
    border: none;
    background-color: var(--color-white);
}


li{
    border-radius: 5rem;
    background-color: var(--color-white);
    margin-left: .7rem;
    margin-right: .7rem;
    padding-left: .6rem;
    padding-right: .6rem;
    max-height: 3rem;
}

.blur{
    backdrop-filter: blur(5rem);
    border-radius: 10rem;
    padding: .5rem .1rem .5rem .1rem;
    /*background-color: var(--color-green);*/

}
.search-icon{
    margin-left: 2rem;
}
.search{
    margin-left: -5rem;
}
.search-container{
    margin-right: 1.5rem;
}
.icon{
    font-size: xx-large;
}



form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5rem;
    outline: none;
    flex: 1;
}

button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #505050;
    color: white;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    margin-left: 5px;
}

nav .icon ul li a i{
    font-size: 1rem;
}

header{
  background-image: url("../assets/img_11.png");
    background-size: cover;
    color: #fff;
}

header .floww{
    -webkit-text-stroke: #fff 2px;
    color: rgba(255, 255, 255, 0);
}

header ul li{
    list-style-type: none;
    background-color: #505050;
    border-radius: 2rem;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    --bs-link-hover-color: #fff;
}

header ul li:hover{
    background-color: #2a2a2a;
}

main .img_1, .img_2{
    border-radius: 3rem;
}

main .image{
    position: relative;
    top: 6rem;
}


footer{
    background-color: #F5F1E8;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    color: #000;
    text-decoration: none;
}

footer .img_div{
    border-bottom: 2px solid #000;
}

footer div img{
    width: 4rem;
    height: auto;
}

footer i{
    font-size: 1.5rem;
}

footer i:hover{
    color: #0a58ca;
}