*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', serif;
}

/*
Quicksand: font-family: 'League Spartan', sans-serif;
Noto serif:
*/



nav ul li{
    font-family: 'League Spartan', sans-serif;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    border-radius: 6rem;
    color: #000;
    background-color: #fff;
}

nav .icon ul li a{
    background-color: #000;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5rem;
    outline: none;
    flex: 1;
}

button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #505050;
    color: white;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    margin-left: 5px;
}

nav .icon ul li a i{
    font-size: 1rem;
}
.col {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: -9%;

}
.col p{
    margin-top: 5%;
    margin-left: 12%;
    font-size: small;
}
.nav-tabs{
    padding-left: 13%;
    font-size: xx-large;
}
.tab-content{
    padding-left: 7%;
    padding-top: 30px;

}
.hr{
    margin-left: -18%;
    width: 560px;
    color: black;
    margin-top: 3%;
}

.tab-content a {
    color: black;
    text-decoration: none;
}

.pijllinks .pijl_links {
    font-size: 30px ;
    color: black;
    margin-top: 32%;
    margin-left: -20px;
}
.col h2{
    margin-left:12%;
    margin-top: -3%;
    color: #74867A;
}
.services h1{
    margin-top: -20%;
    margin-left: 3%;
    color: #74867A;
}
.img_services img{

    width:600px;
    height: auto;
    align-items: center;
    justify-content: right;
    margin-left: 65%;
    margin-top: -37%;
    border-radius: 3rem;
}

.h2{
    color: #74867A;
}
.images img{
    height: 15rem;
    width: auto;
}
footer{
    background-color: #F5F1E8;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    color: #000;
    text-decoration: none;
}

footer .img_div{
    border-bottom: 2px solid #000;
}

footer div img{
    width: 4rem;
    height: auto;
}

footer i{
    font-size: 1.5rem;
}

footer i:hover{
    color: #0a58ca;
}
.imgrow{
  margin-left: 15%;
    margin-bottom: 10%;
}
.img2row{
    margin-left: 10%;
}
.img3row{
    margin-left: 10%;
}

.imgh2{
    margin-left: 16%;
    margin-top: 7%;
    padding-bottom: 70px;
    color: #74867A;
}
.button {
    background-color: #74867A;
    border: none;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius:100px;
    margin-left: 75%;
}
body{
    background-color: var(--color-beige-dark);
}


.navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
    margin-top: 0;
}
.logo-small{
    width: 3rem;
    height: 3rem;
    margin-left: .3rem;
    margin-right: .3rem;
    object-fit: contain;
}
.logo-medium{
    width: 5rem;
    height: 5rem;
    margin-left: .3rem;
    margin-right: .3rem;
    object-fit: contain;
}


.nav-round{
    border-radius: 5rem;
    border: none;
    background-color: var(--color-white);
}

.bg-nav{
    backdrop-filter: blur(10px) brightness(0.79);
    height: 4rem;
    margin-top: -.5rem;
}

li{
    border-radius: 5rem;
    margin-left: .7rem;
    margin-right: .7rem;
    padding-left: .6rem;
    padding-right: .6rem;
    max-height: 3rem;
}
.nav-link{
    color: var(--color-white);
    display: flex;
    align-items: center;
}
.nav-link:hover{
    color: var(--color-white);
}


.search-icon{
    margin-left: 2rem;
}
.search{
    margin-left: -5rem;
}
.search-container{
    margin: 0;
}
.icon{
    font-size: xx-large;
    margin-left: 1rem;

}

li{
    min-width: fit-content;
}
form{
    max-width: 10rem;
}
.m-top{
    margin-top: 2rem;
}

@media screen and (max-width: 1000px){
    .bg-nav{
        align-content: center;
    }


}
@media screen and (min-width: 1000px){

}


