*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
h1{
    font-family: quicksand, sans-serif;
    font-weight: bolder;
}


.nav-edit{
    margin-top: -1rem;
}
.logo-small{
    width: 5rem;
    height: 5rem;
    margin-left: .3rem;
    margin-right: .3rem;
}


.nav-round{
    border-radius: 5rem;
    border: none;
    background-color: var(--color-white);
}


li{
    border-radius: 5rem;
    background-color: var(--color-white);
    margin-left: .7rem;
    margin-right: .7rem;
    padding-left: .6rem;
    padding-right: .6rem;
    max-height: 3rem;
}

.blur{
    backdrop-filter: blur(5rem);
    border-radius: 10rem;
    padding: .5rem .1rem .5rem .1rem;
    /*background-color: var(--color-green);*/

}
.search-icon{
    margin-left: 2rem;
}
.search{
    margin-left: -5rem;
}
.search-container{
    margin-right: 1.5rem;
}
.icon{
    font-size: xx-large;
}

.one{
    height: 40rem;
    border-radius: 8rem;
    position: relative;
    right: 1.5rem;
    width: auto;
}

.two{
    position: relative;
    right: 6rem;
    z-index: 0;
    border-radius: 4rem;
    height: 30rem;
    width: 50rem;
}

.three{
    border-radius: 6rem;
    width: 14rem;
    height: auto;
}

.info{
    z-index: 1;
    position: relative;
    left: 3rem;
}

.subsection{
    position: relative;
    right: 6rem;
}

.subsection img{
    position: relative;
    top: 4rem;
    left: 12rem;
    z-index: 1;
    width: 50rem;
    height: 35rem;
}

.section{
    width: 45rem;
    height: 35rem;
    position: relative;
    bottom: 2rem;
    z-index: 2;
    border-radius: 4rem;
    /*box-shadow: 0.1rem 0.3rem 0.3rem rgba(0, 0, 0, 0.16);*/
    background-color: #F0F0F0;
}

main{
    background-color: #74867A;
}

.images{
    height: 25.5rem;
    border-radius: 5rem;
    width: auto;
}

.images_accordion{
    height: 25.5rem;
    border-radius: 3rem;
    width: auto;
}




/*
.person1{
    width: 21rem;
    height: auto;
}

.person2{
    width: 21rem;
    height: auto;
}

.person3{
    width: 21rem;
    height: auto;
}

.person{
    background-color: #fff;
    border-radius: 0 0 3rem 3rem;
}

.person a{
    color: #000;
}

.person a:hover{
    color: #707070;
}*/

footer{
    border-top: 0.1rem solid #000;
    background-color: #F5F1E8;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    color: #000;
    text-decoration: none;
}

footer .img_div{
    border-bottom: 2px solid #000;
}

footer div img{
    width: 4rem;
    height: auto;
}

footer i{
    font-size: 1.5rem;
}

footer i:hover{
    color: #0a58ca;
}