*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --broken-white: #f5f1e8;
    --broken-broken-white: #fcf1e7;
    --beige: #ece0d5;
    --beige-darker: #e6d4cb;
    --light-green: #cfcfc9;
    --green: #74867a;
    --dark-green: #4f5952;
    --light-brown: #c5ad99;
    --dark-brown: #776a61;
    --yellow: #f9d18a;
    --coral-red: #bc8271;
    --grey: #5B5F61;
    --black: #333;
}

.logo-small{
    height: 4rem;
    width: auto;
}

header{
    background-color: var(--light-green);
}

#info {
    background-color: var(--black);
    text-decoration: none;
    color: var(--white);
    border-radius: 2rem;
}

#info:hover{
    background-color: var(--grey);
    transition: background 0.3s linear;
}

.image{
    width: auto;
    height: 16rem;
}

.changes{
    width: auto;
    height: 30rem;
}

.lid{
    border: 2px solid var(--black);
    border-radius: 2rem;
    text-decoration: none;
    color: var(--black);
}
.lid-2{
    border: 2px solid var(--black);
    border-radius: 2rem;
    text-decoration: none;
    color: var(--black);
}

.lid:hover{
    border: 0;
    color: var(--white);
    background-color: var(--black);
    transition: background 0.3s linear;
}

#link{
    border-radius: 2rem;
    background-color: var(--dark-green);
    color: var(--white);
    text-decoration: none;
}

#link:hover{
    background-color: var(--green);
    transition: background 0.3s linear;
}

main{
    background-color: var(--beige);
}

.background-color{
    background-color: var(--broken-broken-white);
    border-radius: 1rem;
}


footer{
    background-color: var(--black);
}

footer h5{
    color: var(--white);
}

footer p{
    color: var(--white);
}

footer ul li{
    list-style-type: none;
    color: var(--white);
}

footer ul li a{
    color: var(--white);
    text-decoration: none;
}

footer .img_div{
    border-bottom: 2px solid #000;
}

footer div img{
    width: 4rem;
    height: auto;
}

footer i{
    font-size: 1.5rem;
}

footer i:hover{
    color: var(--white);
}