*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --broken-white: #f5f1e8;
    --beige: #ece0d5;
    --beige-darker: #e6d4cb;
    --light-green: #cfcfc9;
    --green: #74867a;
    --dark-green: #4f5952;
    --light-brown: #c5ad99;
    --dark-brown: #776a61;
    --yellow: #f9d18a;
    --coral-red: #bc8271;
    --grey: #5B5F61;
    --black: #333;
}

.logo-small{
    height: 4rem;
    width: auto;
}

header{
    background-color: var(--light-green);
}

#info {
    background-color: var(--black);
    text-decoration: none;
    color: var(--white);
    border-radius: 2rem;
}

.image{
    width: auto;
    height: 16rem;
}

.changes{
    width: auto;
    height: 30rem;
}

.lid{
    border: 2px solid var(--black);
    border-radius: 2rem;
    text-decoration: none;
    color: var(--black);
}
.lid-2{
    border: 2px solid var(--black);
    border-radius: 2rem;
    text-decoration: none;
    color: var(--black);
}

.lid:hover{
    border: 0;
    color: var(--white);
    background-color: var(--black);
    transition: background 0.3s linear;
}

#link{
    border-radius: 2rem;
    background-color: var(--dark-green);
    color: var(--white);
    text-decoration: none;
}

main{
    background-color: var(--beige);
}