nav{
    background-color: var(--color-beige-light);
}
.nav-edit{
    margin-top: -1rem;
}
.logo-small{
    width: 5rem;
    height: 5rem;
    margin-left: .3rem;
    margin-right: .3rem;
}


.nav-round{
    border-radius: 5rem;
    border: none;
    background-color: var(--color-white);
}


li{
    border-radius: 5rem;
    background-color: var(--color-white);
    margin-left: .7rem;
    margin-right: .7rem;
    padding-left: .6rem;
    padding-right: .6rem;
    max-height: 3rem;
}

.blur{
    backdrop-filter: blur(5rem);
    border-radius: 10rem;
    padding: .5rem .1rem .5rem .1rem;
    /*background-color: var(--color-green);*/

}
.search-icon{
    margin-left: 2rem;
}
.search{
    margin-left: -5rem;
}
.search-container{
    margin-right: 1.5rem;
}
.icon{
    font-size: xx-large;
}
body {
    background-color: var(--color-white);
}

