*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

h1{
    font-family: quicksand, sans-serif;
    font-weight: bolder;
}

.images img{
    height: 30rem;
    width: auto;
}

.yellow{
    background-color: #F5F1E8;
}

.green{
    background-color: #5B5F61;
    color: #F5F1E8;
}

.one{
    border-radius: 4rem;
}

.img_1{
    top: 10rem;
    right: -10rem;
    height: 25rem;
    width: auto;
    z-index: 4;
}
.img_2{
    height: 35rem;
    width: auto;
    z-index: 2;
}

.img_3{
    height: 25rem;
    width: auto;
    z-index: 3;
}

main .image img{
    border-radius: 5rem;
}
.image_two{
    border-radius: 6rem;
    width: 75%;
    height: auto;
}

footer{
    background-color: #F5F1E8;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    color: #000;
    text-decoration: none;
}

footer .img_div{
    border-bottom: 2px solid #000;
}

footer div img{
    width: 4rem;
    height: auto;
}

footer i{
    font-size: 1.5rem;
}

footer i:hover{
    color: #0a58ca;
}