/*css navigatie*/
.nav-edit {
    margin-top: -1rem;
}

.logo-small {
    width: 5rem;
    height: 5rem;
    margin-left: .3rem;
    margin-right: .3rem;
}


.nav-round {
    border-radius: 5rem;
    border: none;
    background-color: var(--color-white);
}


li {
    border-radius: 5rem;
    background-color: var(--color-white);
    margin-left: .7rem;
    margin-right: .7rem;
    padding-left: .6rem;
    padding-right: .6rem;
    max-height: 3rem;
}

.blur {
    backdrop-filter: blur(5rem);
    border-radius: 10rem;
    padding: .5rem .1rem .5rem .1rem;
    /*background-color: var(--color-green);*/

}

.search-icon {
    margin-left: 2rem;
}

.search {
    margin-left: -5rem;
}

.search-container {
    margin-right: 1.5rem;
}

.icon {
    font-size: xx-large;
}


/*css main*/
.main__financieel {
    max-width: 75%;
    margin: 0 auto;
}

.main__financieel a {
    text-decoration: none;

}

main h1 {
    color: #74867A;
}

.nav-round {
    border-radius: 5rem;
    border: none;
    background-color: var(--color-white);
}

main ul li {
    list-style-type: none;
    background-color: #505050;
    border-radius: 2rem;
}

main ul li a {
    text-decoration: none;
    color: #fff;
    --bs-link-hover-color: #fff;
}

main ul li:hover {
    background-color: #2a2a2a;
}


main p {
    max-width: 500px;
}

.blur {
    backdrop-filter: blur(5rem);
    border-radius: 10rem;
    padding: .5rem .1rem .5rem .1rem;
    /*background-color: var(--color-green);*/

}

.financieel {
    background-image: url("/assets/pexels-david-mcbee-730547.jpg");
    color: white;
}


.statistieken {
    background-image: url("/assets/pexels-pixabay-210607.jpg");
    color: #ffffff;
}

.financiele_wetgevingen {
    background-image: url("/assets/pexels-andrea-piacquadio-3760067.jpg");
    color: #000000;
}

.financieel_advies {
    background-image: url("/assets/pexels-lukas-590041.jpg");
    color: #ffffff;
}


.achtergrondfoto-financieel {
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 25px;
    text-align: center;
}

.wetgevingen {
    background-image: url("/assets/pexels-djordje-petrovic-2102415.jpg");
}

.startups {
    background-image: url("/assets/pexels-mikhail-nilov-6592676.jpg");
}

.kmo {
    background-image: url("/assets/pexels-pixabay-269077.jpg");
}

.zelfstandige {
    background-image: url("/assets/pexels-andrea-piacquadio-3760263.jpg");
}

.achtergrondfoto-zelfstandige {
    color: white;
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 25px;
    text-align: center;
}


.waarbeginik {
    background-image: url("/assets/pexels-canva-studio-3153198.jpg");
    color: #000000;
}

.hoebeginik {
    background-image: url("/assets/pexels-markus-spiske-3905827.jpg");
    color: #FFFFFF;
}

.zakelijk {
    background-image: url("/assets/pexels-andrew-neel-2312369.jpg");
    color: #FFFFFF;
}

.conculegas {
    background-image: url("/assets/pexels-buro-millennial-1438072.jpg");
    color: #FFFFFF;
}


.achtergrondfoto-starten {

    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 25px;
    text-align: center;
}

.financielewetten {
    background-image: url("/assets/pexels-sora-shimazaki-5668484.jpg");
}

.wettenvoorodnernemers {
    background-image: url("/assets/pexels-pixabay-48148.jpg");
}

.specialewetten {
    background-image: url("/assets/pexels-pixabay-159832.jpg");
}

.noodzakelijk {
    background-image: url("/assets/pexels-ekaterina-bolovtsova-6077189.jpg");
}

.achtergrondfoto-wettelijk {
    color: white;
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 25px;
    text-align: center;
}

/*css footer*/

footer {
    background-color: #F5F1E8;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: #000;
    text-decoration: none;
}

footer .img_div {
    border-bottom: 2px solid #000;
}

footer div img {
    width: 4rem;
    height: auto;
}

footer i {
    font-size: 1.5rem;
}

footer i:hover {
    color: #0a58ca;
}


